<div class="row row-eq-height" id="stand-index">
  <% @stands.each do |stand| %>
    <div class="col-md-2 col-sm-3 col-xs-6 stand">
      <%= image_tag stand.image_url %>
      <h3><%= stand.name %></h3>
      <p><%= stand.description %></p>
    </div>
  <% end %>
</div>
